---
http_interactions:
- request:
    method: post
    uri: https://api.magicbell.com/users
    body:
      encoding: UTF-8
      string: '{"user":{"external_id":"nexl-360-latest.nexl.cloud/99999","email":"@invalid@email@.com.com.com","first_name":"Test","last_name":"User","custom_attributes":{},"phone_numbers":[]}}'
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Remapped-Date:
      - Tue, 25 Feb 2025 01:14:53 GMT
      X-Amzn-Requestid:
      - 34cad98a-ad67-4d9e-aaf0-ce72c9e38385
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Param ''user.email'' must be an email address"}]}'
  recorded_at: Tue, 25 Feb 2025 01:14:53 GMT
recorded_with: VCR 6.3.1
