---
http_interactions:
- request:
    method: post
    uri: https://api.magicbell.com/users
    body:
      encoding: UTF-8
      string: '{"user":{"external_id":"nexl-360-latest.nexl.cloud/99999","email":"testingcreate@nexl.cloud","first_name":"Test","last_name":"User","custom_attributes":{},"phone_numbers":[]}}'
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Remapped-Date:
      - Tue, 25 Feb 2025 00:56:18 GMT
      X-Amzn-Requestid:
      - 492c63bc-f548-480e-b7f1-6386f5df3c49
      X-Amzn-Remapped-Content-Length:
      - '219'
      Etag:
      - W/"320df35c7cfe1b02c84dd766010a1139"
    body:
      encoding: UTF-8
      string: '{"user":{"id":"1ecd4ec4-9ee5-4c54-908d-56fb7dfbdb13","external_id":"nexl-360-latest.nexl.cloud/99999","email":"testingcreate@nexl.cloud","first_name":"Test","last_name":"User","custom_attributes":{},"phone_numbers":[]}}'
  recorded_at: Tue, 25 Feb 2025 00:56:18 GMT
recorded_with: VCR 6.3.1
