---
http_interactions:
- request:
    method: post
    uri: https://api.magicbell.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation Magicbell__Rails__DeliverNotificationJob__Query($input:
        CreateNotificationInput!) {\n  createNotification(input: $input) {\n    clientMutationId\n    errors
        {\n      location\n      message\n    }\n    notification {\n      id\n    }\n  }\n}","variables":{"input":{"title":"Welcome
        to MagicBell","recipients":[{"email":"grant@nexl.io"}]}},"operationName":"Magicbell__Rails__DeliverNotificationJob__Query"}'
    headers:
      Content-Type:
      - application/json
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a5b2ced3d708e12db14c32a7ca1a2714"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"createNotification":{"clientMutationId":null,"errors":null,"notification":{"id":"a214beff-eea5-41e9-bcde-290f3d523142"}}}}'
  recorded_at: Sat, 29 Oct 2022 23:23:18 GMT
recorded_with: VCR 6.1.0
