---
http_interactions:
- request:
    method: post
    uri: https://api.magicbell.io/notifications
    body:
      encoding: UTF-8
      string: '{"notification":{"title":"Welcome to MagicBell","recipients":[{"email":"grant@nexl.io"}]}}'
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0bbd87d74ffd8b824033162a54993865"
    body:
      encoding: UTF-8
      string: '{"notification":{"id":"4b5e07e0-6605-4b0c-82e9-8ed17caf1e36","title":"Welcome
        to MagicBell","content":null,"action_url":null,"category":"","topic":null,"custom_attributes":null,"sent_at":1673004802}}'
  recorded_at: Fri, 06 Jan 2023 11:33:23 GMT
recorded_with: VCR 6.1.0
