---
http_interactions:
- request:
    method: get
    uri: https://api.magicbell.io/notification_preferences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-User-External-Id:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - aec240b9-a346-45d7-8786-a220557b0790
    body:
      encoding: ASCII-8BIT
      string: '
      {
        "notification_preferences": {
          "categories": [
            {
              "slug": "StayInTouchReminder",
              "label": "Stay in Touch",
              "channels": [
                { "slug": "in_app", "label": "In App", "enabled": true },
                { "slug": "mobile_push", "label": "Mobile Push", "enabled": true },
                { "slug": "web_push", "label": "Web Push", "enabled": true },
                { "slug": "email", "label": "Email", "enabled": true }
              ]
            },
            {
              "slug": "FollowUpReminder",
              "label": "Opportunity Follow Up Reminder",
              "channels": [
                { "slug": "in_app", "label": "In App", "enabled": true },
                { "slug": "mobile_push", "label": "Mobile Push", "enabled": true },
                { "slug": "web_push", "label": "Web Push", "enabled": true },
                { "slug": "email", "label": "Email", "enabled": true }
              ]
            }
          ]
        }
      }

        '
  recorded_at: Fri, 14 Feb 2025 00:40:02 GMT
recorded_with: VCR 6.3.1
