---
http_interactions:
- request:
    method: post
    uri: https://api.magicbell.io/notifications
    body:
      encoding: UTF-8
      string: '{"notification":{"title":"value","recipients":[{"email":"grant@nexl.io"}]}}'
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d8e400457b7570545461efda06f39176"
    body:
      encoding: UTF-8
      string: '{"notification":{"id":"14729f09-d269-404e-919e-68e9caa00b32","title":"value","content":null,"action_url":null,"category":"","topic":null,"custom_attributes":null,"sent_at":1673003147}}'
  recorded_at: Fri, 06 Jan 2023 11:05:47 GMT
recorded_with: VCR 6.1.0
