---
http_interactions:
- request:
    method: post
    uri: https://api.magicbell.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation Magicbell__Rails__DeliverNotificationJob__Query($input:
        CreateNotificationInput!) {\n  createNotification(input: $input) {\n    clientMutationId\n    errors
        {\n      location\n      message\n    }\n    notification {\n      id\n    }\n  }\n}","variables":{"input":{"title":"value","recipients":[{"email":"grant@nexl.io"}]}},"operationName":"Magicbell__Rails__DeliverNotificationJob__Query"}'
    headers:
      Content-Type:
      - application/json
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81a426838f09a6badcd95f251d1cbffe"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"createNotification":{"clientMutationId":null,"errors":null,"notification":{"id":"5691f407-24ca-4195-979d-ad67ba3579dd"}}}}'
  recorded_at: Sat, 29 Oct 2022 23:11:27 GMT
recorded_with: VCR 6.1.0
