---
http_interactions:
- request:
    method: post
    uri: https://api.magicbell.io/notifications
    body:
      encoding: UTF-8
      string: '{"notification":{"title":"value","custom_attributes":"NotAHash","recipients":[{"email":"grant@nexl.io"}]}}'
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"message":"Param ''notification.custom_attributes'' must
        be a hash"}]}'
  recorded_at: Fri, 06 Jan 2023 11:12:36 GMT
recorded_with: VCR 6.1.0
