---
http_interactions:
- request:
    method: post
    uri: https://api.magicbell.io/notifications
    body:
      encoding: UTF-8
      string: '{"notification":{"title":"value","custom_attributes":{"example":"1"},"recipients":[{"email":"grant@nexl.io"}]}}'
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"156b21dd96074e7e589a54ef3b4e47d0"
    body:
      encoding: UTF-8
      string: '{"notification":{"id":"dc0c4f4c-e9c2-4fe2-85a4-6cea5080d9a4","title":"value","content":null,"action_url":null,"category":"","topic":null,"custom_attributes":{"example":"1"},"sent_at":1673003406}}'
  recorded_at: Fri, 06 Jan 2023 11:10:06 GMT
recorded_with: VCR 6.1.0
