---
http_interactions:
- request:
    method: post
    uri: https://api.magicbell.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation Magicbell__Rails__DeliverNotificationJob__Query($input:
        CreateNotificationInput!) {\n  createNotification(input: $input) {\n    clientMutationId\n    errors
        {\n      location\n      message\n    }\n    notification {\n      id\n    }\n  }\n}","variables":{"input":{"title":"value","recipients":[{"email":"grant@nexl.io"}]}},"operationName":"Magicbell__Rails__DeliverNotificationJob__Query"}'
    headers:
      Content-Type:
      - application/json
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - asdasdasd
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"api_secret_is_incorrect","message":"API Secret
        is incorrect","suggestion":"Please provide your MagicBell project''s correct
        API Secret in the ''X-MAGICBELL-API-SECRET'' header","help_link":"https://magicbell.com/docs/rest-api/authentication"}]}'
  recorded_at: Sun, 30 Oct 2022 11:04:50 GMT
recorded_with: VCR 6.1.0
