---
http_interactions:
- request:
    method: put
    uri: https://api.magicbell.io/notification_preferences
    body:
      encoding: UTF-8
      string: '{"notification_preferences":{"categories":[{"slug":"StayInTouchReminder","channels":[{"slug":"email","enabled":false}]}]}}'
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-User-External-Id:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Remapped-Date:
      - Fri, 14 Feb 2025 00:50:09 GMT
      X-Amzn-Requestid:
      - 82f768eb-cf37-42b0-b0a3-e18732daa17c
      X-Amzn-Remapped-Content-Length:
      - '4352'
      Etag:
      - W/"411fd99251cb98b43055086d2b99b549"
    body:
      encoding: ASCII-8BIT
      string: '{"notification_preferences":{"categories":[{"label":"Task Assigned","slug":"AssignedTask","channels":[{"label":"In
        app","slug":"in_app","enabled":true},{"label":"Mobile push","slug":"mobile_push","enabled":true},{"label":"Web
        push","slug":"web_push","enabled":true},{"label":"Email","slug":"email","enabled":true}]},{"label":"Comment
        Added","slug":"CommentAdded","channels":[{"label":"In app","slug":"in_app","enabled":true},{"label":"Mobile
        push","slug":"mobile_push","enabled":true},{"label":"Web push","slug":"web_pus[...]
