---
http_interactions:
- request:
    method: get
    uri: https://api.magicbell.io/notification_preferences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-User-External-Id:
      - non-existent-external-id
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - b191d942-8238-419b-94e5-d8ed101336bf
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":"user_not_found","message":"User not found","suggestion":"Please
        provide the correct ''X-MAGICBELL-USER-EMAIL'' or ''X-MAGICBELL-USER-EXTERNAL-ID''
        header to identify the user.","help_link":"https://magicbell.com/docs/rest-api/authentication"}]}

        '
  recorded_at: Tue, 25 Feb 2025 00:50:30 GMT
recorded_with: VCR 6.3.1
