---
http_interactions:
- request:
    method: get
    uri: https://api.magicbell.io/notification_preferences
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Magicbell-Api-Key:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-Api-Secret:
      - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
      X-Magicbell-User-External-Id:
      - nexl-360-latest.nexl.cloud/455
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 14351a78-5144-4977-82c4-50c5872517ac
    body:
      encoding: ASCII-8BIT
      string: '{"notification_preferences":{"categories":[{"slug":"StayInTouchReminder","label":"Stay
        in Touch","channels":[{"slug":"in_app","label":"In App","enabled":true},{"slug":"mobile_push","label":"Mobile
        Push","enabled":true},{"slug":"web_push","label":"Web Push","enabled":true},{"slug":"email","label":"Email","enabled":false},{"slug":"slack","label":"Slack","enabled":true},{"slug":"sms","label":"Sms","enabled":true}]},{"slug":"DelegatedTaskReopened","label":"Delegated
        Task Reopened","channels":[{"slug":"in_app","label":"In App","enabled":true},{"slug":"mobile_push","label":"Mobile
        Push","enabled":true},{"slug":"web_push","label[...]
